.counter {
    width:max-content;
    background-color: brown;
    margin: 5rem;
    padding: 3rem;
    text-align: center;
    border-radius: 5rem;

}
button {
background-color: bisque;
padding: 1rem;
margin: 1rem;
}
